/*jeg importer Hapna Slab Serif fontet, som er et font fra spillet*/
@import url(https://db.onlinewebfonts.com/c/c6ed10492dfc2efa134e4d1a389f5052?family=Hapna+Slab+Serif+W00+DemiBold);
/*Jeg importerer fontet fra cover artet (ihvertfald fontet det er inspireret af*/
@import url(https://db.onlinewebfonts.com/c/47de38bdab93d61bc7511611a3524e22?family=TR+Chinese+Rocks);


* {
    font-family: "Hapna Slab Serif W00 DemiBold";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(227, 20, 28);
}
.menu-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
}

.burger-icon {
    position: fixed;
    left: 1rem;
    top: -0.5rem;
    cursor: pointer;
    font-size: 2rem;
    color: blue;
    z-index: 4;
    transition: color 0.3s ease-in-out;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 2rem;
    background-color: black;
    z-index: 2;
    opacity: 0.5;
}

.menu-wrapper:has(.sidebar:hover) .burger-icon,
.burger-icon:hover {
    color: white;
}

.sidebar {
    position: relative;
    left: -100%;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: black;
    color: white;
    padding: 4rem 1rem;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

.burger-icon:hover+.sidebar,
.sidebar:hover {
    left: 0;
    box-shadow: 0 0 10px 5px black;
}

.sidebar a {
    cursor: pointer;
    font-size: 1.5;
    display: block;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    transform: 0.15s ease-in-out;
}

.sidebar a:hover {
    opacity: 1;
    transform: translateX(0.5rem);
    filter: drop-shadow(0, 0 10px white);
}


.page {
    width: 100vw;
    height: 100vh;
    border: 1px solid lightblue;
    /* grid layout*/
    display: grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages*/
    position: fixed;
    left: -100vw;
    transition: 1s ease-in-out all;
    
}

.show {
    left: 0;
}

/* All div's inside pages are treated as full width grids*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

h1 {
   font-weight: 300;
    font-size: 3rem;
}


#page1{
    grid-template-columns: 1fr 1fr 1fr;
}

#page1 .alkohol, #page1 .aldehyd, #page1 .carboxylsyre{
    grid-template-rows: 1fr 9fr;
}

#page1 .alkohol .alkoholBund{
    background-image: url(./assets/jackD.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

#page1 .carboxylsyre .carboxylsyreBund{
    background-image:url(./assets/eddike.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

#page1 .aldehyd .aldehylBund{
 background-image:url(./assets/vaniljeSukker.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}


.alkohol, .aldehyl, .carboxylsyre{
    height: 70%;
    width: 90%;
    background-color: brown;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

#page3{
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    align-items: start;
}

#page3 .left{
    grid-template-rows: 1fr 4fr;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: center;
    height: 70%;
    width: 90%;
}


#vanillinTilstandBillede, #ethanolTilstandBillede{
    width: 80%;
    aspect-ratio: 1 / 1;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain;      
  transition: 0.5s ease-in-out;
 
}

 #oxidationSkemaVanillin, #oxidationsSkemaEthanol{
    width: 100%;
    height: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain;      
  transition: 0.5s ease-in-out;
}
#oxidationsKnapVanillin, #reduktionsKnapVanillin, #oxidationsKnapEthanol, #reduktionsKnapEthanol{
    padding: 1rem;
    background-color: brown;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 1rem;
}
.box {
    max-width: 30vw;
    grid-template-rows: 1fr 4fr 4fr;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    
}
#page3 .right .box .vanilje{
    background-image: url(./assets/vaniljeSukker.jpg);
    background-size: cover;
}

#page2 .right .box .whiskey{
    background-image: url(./assets/jackD.png);
    background-size: cover;
}



#page3 .left .box{
    height: 40rem;      /* or whatever size you want */
    width: 30vw;        /* must match max-width */
    overflow: hidden;   
    
}

h2{
    font-size: 2rem;
    font-weight: 300;
}
#page2{
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    align-items: start;
}

#page2 .left{
    grid-template-rows: 1fr 4fr;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: center;
    height: 50%;
    width: 80%;
}