

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tirra:wght@400;500;600;700;800;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tirra:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: "noto serif";
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.menu-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
}

.burger-icon {
    position: fixed;
    left: 1rem;
    top: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    color: black;
   font-weight: bold;
    z-index: 4;
    transition: color 0.3s ease-in-out;
}

.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover{
    color: white;
}

.sidebar {
    position: relative;
    left: -100%;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: black;
    color: white;
    padding: 4rem 1rem;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

.burger-icon:hover + .sidebar, .sidebar:hover {
    left: 0;
    box-shadow: 0 0 10px 5px black;
}
.sidebar a{
    cursor: pointer;
    font-size: 1.5;
    display: block;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out,
    transform 0.15s ease-in-out;
}

.sidebar a:hover{
    opacity: 1;
    transform: translateX(0.5rem);
    filter: drop-shadow(0,0 10px white);
}


.page{
    width:100vw;
    height: 100vh;
    border:1px solid lightblue;
    overflow: hidden;
    /* grid layout*/
    display:grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages*/
    position: fixed;
    left:-100vw;
    transition: 1s ease-in-out all;
    color: white;
}

.show{
    left:0;
}

/* All div's inside pages are treated as full width grids*/
.page div{
    width: 100%;
    height: 100%;
    display:grid;
    place-items: center;

}

h1{
    font-weight: 300;
    font-size: 3rem;
}

h2{
    font-weight: 300;
    font-size: 2rem;
}

h3{
    font-weight: 100;
    font-size: 3.5rem;
}

h4{
    font-weight: 100;
    font-size: 1.5rem;
}

#page1{
    grid-template-rows: 1fr 4fr;
}
#page1 .top{
    background-color: #003eab;
    color: white;

}

#page1 .bottom{
    grid-template-columns: 3fr 3fr 4fr;

}

#page1 .bottom .bottomleft{
    background-image: url(./assets/mads.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#page1 .bottom .bottommiddle{
    background-image: url(./assets/trump.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#page1 .bottom .bottomright{
   grid-template-rows: 1fr 3fr;
}
#page1 .bottom .bottomright .bottomrighttop{
    background-color: white;
    background-image: url(./assets/next.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#page1 .bottom .bottomright .bottomrightbottom{
    background-image: url(./assets/oscar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#page2{
    grid-template-rows: 1fr 4fr;
}

#page2 .top {
    background-color: #003eab;
    grid-template-columns: 1fr 1fr;
}

#page2 .top .topright, #page2 .top .topleft{
    color: whitesmoke;
}

#page2 .bottom .left .lefttop, #page2 .bottom .middleleft .middlelefttop, #page2 .bottom
 .middleright .middlerighttop, #page2 .bottom .right .righttop {
    background-color: #f37526;
 }
#page2 .bottom{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#page2 .bottom .left, #page2 .bottom .middleleft, #page2 .bottom .middleright, #page2 .bottom .right{
    grid-template-rows: 1fr 5fr;
}

#page2 .bottom .left .leftbottom{
    background-image: url(./assets/Omori_cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#page2 .bottom .middleleft .middleleftbottom{
    background-image: url(./assets/lego.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#page2 .bottom .middleright .middlerightbottom{
    background-image: url(./assets/chromakopia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#page2 .bottom .right .rightbottom{
    background-image: url(./assets/bouldering.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#page3 {
    grid-template-rows: 1fr 4fr;
}

#page3 .top {
   background-color: #003eab;
}
#page3 .bottom{
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr;
}

#page3 .bottom .bottomleft .bottomleftbox, #page3 .bottom .bottommiddle .bottommiddlebox, #page3 .bottom .bottomright .bottomrightbox{
    height: 80%;
    width: 90%;
    grid-template-rows: 1fr 6fr ;
    
}
#page3 .bottom .bottomleft .bottomleftbox .leftboxtop{
    background-color: darkred;
}
 #page3 .bottom .bottomleft .bottomleftbox .leftboxbottom{
    background-image: url(./assets/shelterimage.jpg);
    background-size: cover;
} 
#page3 .bottom .bottommiddle .bottommiddlebox .middleboxtop{
    background-color: darkred;
}
 #page3 .bottom .bottommiddle .bottommiddlebox .middleboxbottom{
    background-image: url(./assets/kaninhus.jpg);
    background-size: cover;
}

#page3 .bottom .bottomright .bottomrightbox .rightboxtop{
    background-color: darkred;
}
 #page3 .bottom .bottomright .bottomrightbox .rightboxbottom{
    background-image: url(./assets/pottepanten.jpg);
    background-position: center;
    background-size: 511.79px 458.97px;
    background-repeat: no-repeat;
}

#page4 {
    grid-template-columns: 2fr 3fr;
    color: white;
}
#page4 .left{
    grid-template-rows: 1fr 6fr;
}

#page4 .left .top{
    background-color: #003eab;
}
#page4 .left .bottom{
    background-color: black;
    padding: 4rem;
}

#page4 .right{
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#page4 .right .email{
    background-image: url(./assets/gmail.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#page4 .right .discord{
    background-color: rgb(114,137,218);
}

#page4 .right .tlfnummer{
    background-image: url(./assets/imessage.jpg);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#page4 .right .github{
    background-image: url(./assets/githublogo.jpg);
    background-color: rgb(27, 31, 35);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

#page5{
    grid-template-rows: 1fr 4fr;
}

#page5 .top{
    background-color: #003eab;
}
#page5 .bottom {
    grid-template-columns: 1fr 1fr 1fr;
}

#page5 .bottom .left{
    background-image: url(./assets/undulat.jpg);

}

#page5 .bottom .middle{
    background-image: url(./assets/kanin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#page5 .bottom .right{
    background-image: url(./assets/oscar2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
