/*jeg importer Hapna Slab Serif fontet, som er et font fra spillet*/
@import url(https://db.onlinewebfonts.com/c/c6ed10492dfc2efa134e4d1a389f5052?family=Hapna+Slab+Serif+W00+DemiBold);
/*Jeg importerer fontet fra cover artet (ihvertfald fontet det er inspireret af*/
@import url(https://db.onlinewebfonts.com/c/47de38bdab93d61bc7511611a3524e22?family=TR+Chinese+Rocks);


* {
    font-family: "Hapna Slab Serif W00 DemiBold";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
}

.burger-icon {
    position: fixed;
    left: 1rem;
    top: -0.5rem;
    cursor: pointer;
    font-size: 2rem;
    color: blue;
    z-index: 4;
    transition: color 0.3s ease-in-out;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 2rem;
    background-color: black;
    z-index: 2;
    opacity: 0.5;
}

.menu-wrapper:has(.sidebar:hover) .burger-icon,
.burger-icon:hover {
    color: white;
}

.sidebar {
    position: relative;
    left: -100%;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: black;
    color: white;
    padding: 4rem 1rem;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

.burger-icon:hover+.sidebar,
.sidebar:hover {
    left: 0;
    box-shadow: 0 0 10px 5px black;
}

.sidebar a {
    cursor: pointer;
    font-size: 1.5;
    display: block;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out,
        transform 0.15s ease-in-out;
}

.sidebar a:hover {
    opacity: 1;
    transform: translateX(0.5rem);
    filter: drop-shadow(0, 0 10px white);
}


.page {
    width: 100vw;
    height: 100vh;
    border: 1px solid lightblue;
    overflow: hidden;
    /* grid layout*/
    display: grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages*/
    position: fixed;
    left: -100vw;
    transition: 1s ease-in-out all;
}

.show {
    left: 0;
}

/* All div's inside pages are treated as full width grids*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

h1 {
    font-weight: 300;
    font-size: 3rem;
}



input[type="checkbox"],
label {
    display: inline;
}





#page1 {
    background-image: url(./assets/rdr2-logo.jpg);
    background-size: cover;
    background-attachment: fixed;
    grid-template-rows: 1fr 3fr;
}

#page1 .page1Top {
    background-color: black;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100% );
    padding: 0rem;
}

#page1 .page1Bottom{
    grid-template-columns: 3fr 2fr;
}
#rdr2Font, h4 {
    font-family: 'TR Chinese Rocks', sans-serif;
    font-size: 10rem;
    color: white;
    text-shadow: 2px 2px 4px black;
}   
#redFont, h2 {
    font-family: 'TR Chinese Rocks', sans-serif;
    font-size: 10rem;
    color: red;
    text-shadow: 2px 2px 4px black;
}
#h3, #font2 {
    font-family: 'Hapna Slab Serif W00 DemiBold', sans-serif;
    font-size: 5rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}


#page1 .page1Bottom .right {
    height: 100vh;
    width: 50vw;
    grid-template-rows: 1fr 8fr;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    border: 1px solid red;
    position: center start;
    display: grid;

}

#page1 .page1Bottom .right .boxTop {
    background-color: black;
    color: white;
    border-radius: 1rem;
   
}

#page2 {
    overflow-y: scroll;
}

.parallax {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

#page2 .background1 {
    background-image: url(./assets/rockstar-logo.jpg);
}

#page2 .background2 {
    background-image: url(./assets/rdr2-logo.jpg);
    grid-template-columns: 1fr 1fr;
}

#page2 .background2 .left {
    position: relative;
}

#page2 .background2 .left video {
    object-fit: cover;
    object-position: center;
    width: 95%;
    height: 95%;

}

#page2 .background2 .left #overlay {
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 10;
}


#page2 .background1 .historie{
    grid-template-columns: 1fr 1fr;
    
}

#page2 .background1 .historie .left .leftbox, #page2 .background1 .historie .right .rightbox{
    grid-template-rows: 1fr 8fr;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 2rem;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid lightblue;
    max-width:30vw;
    min-height:10rem;
    position: center;
}
#page2 .background1 .historie .left .leftbox .leftboxtop{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

#page2 .background1 .historie .right .rightbox .rightboxtop{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

#videoButton{
    position:absolute;
    bottom:2rem;
    left: 76rem;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(100,100,100,0.9);
    color: white;
    border: 1px solid lightblue;
    transition: 0.3s ease-in-out all;
    z-index: 1000;
   
}

#videoButton:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#page3 {
    background-image: url(./assets/rdr2-art.jpg);
    background-size: cover;
}

.nextPageButton{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'TR Chinese Rocks', sans-serif;
    text-decoration-thickness: 75%;
    font-size: 35px;
}

#page2 .background3{
    background-image: url(./assets/arthur.jpg);
    background-size: cover;
}