/*jeg importer Open Sans fontet*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tirra:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tirra:wght@400;500;600;700;800;900&display=swap');


* {
    font-family: "Tirra";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
}

.burger-icon {
    position: fixed;
    left: 1rem;
    top: -0.5rem;
    cursor: pointer;
    font-size: 2rem;
    color: blue;
    z-index: 4;
    transition: color 0.3s ease-in-out;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 2rem;
    background-color: black;
    z-index: 2;
    opacity: 0.5;
}

.menu-wrapper:has(.sidebar:hover) .burger-icon,
.burger-icon:hover {
    color: white;
}

.sidebar {
    position: relative;
    left: -100%;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: black;
    color: white;
    padding: 4rem 1rem;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

.burger-icon:hover+.sidebar,
.sidebar:hover {
    left: 0;
    box-shadow: 0 0 10px 5px black;
}

.sidebar a {
    cursor: pointer;
    font-size: 1.5;
    display: block;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out,
        transform 0.15s ease-in-out;
}

.sidebar a:hover {
    opacity: 1;
    transform: translateX(0.5rem);
    filter: drop-shadow(0, 0 10px white);
}


.page {
    width: 100vw;
    height: 100vh;
    border: 1px solid lightblue;
    overflow: hidden;
    /* grid layout*/
    display: grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages*/
    position: fixed;
    left: -100vw;
    transition: 1s ease-in-out all;
}

.show {
    left: 0;
}

/* All div's inside pages are treated as full width grids*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

h1 {
    font-weight: 300;
    font-size: 3rem;
}



input[type="checkbox"],
label {
    display: inline;
}

